body{
	
	margin:200px;
	padding:5px;
	font-family:Verdana;
	font-size: 12px;
	border: solid black 1px;
}

header > ul{
	background-color: red;
}
h1{
	
	font-size: 2em;
	color: blue;
	
	

}

ul{
	list-style: long;
	border: black solid 3px;
	margin-right: 100px;
	margin-left: 15px;
	background-color: lightskyblue;
}

ul> a> li> div{
	display: inline-block;
	margin: 1em;
	
}

#id{

	color: white;
	
}

#nombre{
	
	color: darkblue;
	
	
}


#errornombre{
	
	color: red;
	
	
}

#erroremail{
	
	color: red;
	
	
}

#errorpassword{
	
	color: red;
	
	
}

#errorconfirmar{
	
	color: red;
	
	
}

.error{
	color: red;
}

.hide{display:none;
	
}



