body{
	
	margin:100px;
	padding:0px;
	font-family:Verdana;
	font-size: 12px;
}

header > ul{
	background-color: red;
}
h1{
	
	font-size: 2em;
	color: blue;
	margin-left: 10px;
	

}

ul{
	list-style: long;
	border: black solid 5px;
	margin-right: 1000px;
	margin-left: 20px;
	background-color: lightskyblue;
}

ul> a> li> div{
	display: inline-block;
	margin: 1em;
	
}

#id{

	color: white;
	
}

#nombre{
	
	color: darkblue;
	
	
}

.error{
	color: red;
}


