<web-app version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.andresbank.controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CuentasServlet</servlet-name>
  	<display-name>CuentasServlet</display-name>
  	<description></description>
  	<servlet-class>com.andresbank.controllers.CuentasServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CuentaServlet</display-name>
  	<servlet-name>CuentaServlet</servlet-name>
  	<servlet-class>com.andresbank.controllers.CuentaServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CrearCuentaServlet</display-name>
  	<servlet-name>CrearCuentaServlet</servlet-name>
  	<servlet-class>com.andresbank.controllers.CrearCuentaServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EditarCuentaServlet</display-name>
  	<servlet-name>EditarCuentaServlet</servlet-name>
  	<servlet-class>com.andresbank.controllers.EditarCuentaServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BorrarCuentaServlet</display-name>
  	<servlet-name>BorrarCuentaServlet</servlet-name>
  	<servlet-class>com.andresbank.controllers.BorrarCuentaServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CuentasServlet</servlet-name>
  	<url-pattern>/cuentas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CuentaServlet</servlet-name>
  	<url-pattern>/cuenta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CrearCuentaServlet</servlet-name>
  	<url-pattern>/crearcuenta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditarCuentaServlet</servlet-name>
  	<url-pattern>/editarcuentas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrarCuentaServlet</servlet-name>
  	<url-pattern>/borrarcuentas</url-pattern>
  </servlet-mapping>
  
</web-app>
